<form id="form1">
  <div class="tree" id="FamilyTreeDiv">
    <ul>
      <li>
        <div>
					<span class="male">Joe Mighty</span>
				</div>
      </li>
      <li>
        <div>
					<span class="female">Sue Mighty</span>
					<span class="spacer"></span>
					<span class="male">Jim Snow</span>
				</div>
        <ul>
          <li>
            <div>
							<span class="male">Sam Snow</span>
							<span class="spacer"></span>
							<span class="female">Lily Sight</span>
						</div>
            <ul>
              <li>
                <div>
									<span class="male">Ralf Snow</span>
								</div>
              </li>
              <li>
                <div>
									<span class="female">Brie Snow</span>
								</div>
              </li>
            </ul>
          </li>
          <li>
            <div>
							<span class="male">Jim Snow</span>
							<span class="spacer"></span>
							<span class="female">Zoe Blue</span>
						</div>
            <ul>
              <li>
                <div>
									<span class="male">Ralf Snow</span>
									<span class="spacer"></span>
									<span class="female">Sally Bern</span>
								</div>
                <ul>
                  <li>
                    <div>
											<span class="female">Magna Snow</span>
										</div>
                  </li>
                </ul>
              </li>
              <li>
                <div>
									<span class="female">Brie Snow</span>
								</div>
              </li>
            </ul>
          </li>
          <li>
            <div>
							<span class="male">John Snow</span>
						</div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</form>
